* {
  padding: 0;
  margin: 0;
}
:root {
  --oran: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  );
}
.dark-theme {
  --oran: linear-gradient(
    90.1deg,
    rgba(84, 212, 228, 1) 0.2%,
    rgba(68, 36, 164, 1) 99.9%
  );
}
.container {
  position: relative;
  width: 95%;
  margin-left: 30px;
  top: 120px;
  background-image: var(--oran);
}
.row {
  display: flex;
  margin-top: 20px;
  background-color: transparent;
  margin-left: 160px;
}
form .row input {
  border-radius: 0;
  width: 90%;
  font-size: 20px;
  box-shadow: none;
}
.row .fr2 {
  margin-left: 120px;
}
.row .fr {
  width: 40%;

  background-color: transparent;
}
.fr h5 {
  background-color: transparent;
  margin-top: 10px;
}
h3 {
  color: red;
  margin-top: 3px;
  background-color: transparent;
}
span {
  color: red;
  background-color: transparent;
  font-size: 28px;
}
.success {
  margin: 2px 0 0 330px;
  text-align: center;
  background-color: rgb(58, 223, 58);
  border: 5px;
  color: white;
  width: 50%;
}
h1 {
  margin: 50px 0 0 80px;
  font-size: 45px;
}
form h1,
label {
  background-color: transparent;
}
.payinfo {
  margin-top: 50px;
}
.policy,
.pri,
.pritxt,
p {
  background-color: transparent;
}
.pri {
  text-decoration: underline;
  font-size: 20px;
  height: 40px;
  width: 95%;
  margin: -8px 0 0 30px;
  background-image: var(--oran);
}
.pri button {
  background-color: transparent;
  border: none;
}
.fa-solid {
  background-color: transparent;
}
.pri h3 {
  color: black;

  padding: 5px 0 0 10px;
}
.imgs {
  padding-left: 60px;
  position: relative;
  top: -60px;
  opacity: 0.8;
}
.imgs img {
  height: 40px;
  margin-left: 50px;
}
.imgs img,
.imgs {
  background-color: transparent;
}
.pritxt {
  display: none;
  padding: 10px 0 0 10px;
  width: 94.3%;
  margin: -5px 0 0 30px;
  background-image: var(--oran);
}
.row2 {
  margin-top: -430px;
}
.policy input {
  width: 8%;
  height: 20px;
  box-shadow: none;
  margin: 10px 0 0 -20px;
}
.agree {
  font-size: 15px;
}
.check {
  margin-top: -5px;
  width: 95%;
  margin-left: 30px;
  background-image: var(--oran);
}
.pri i {
  background-color: transparent;
  position: relative;
  top: 5px;
  left: 10px;
}

.check h3 {
  margin-left: 30px;
}
.submite {
  background-color: transparent;
  width: 95%;
  margin: 20px 0 0 2.5%;
  background-image: var(--oran);
  height: 70px;
}
.submite button {
  background-color: transparent;
  background-color: #9c8155;
  border: none;
  width: 15%;
  height: 40px;
  margin: 15px 0 0 40%;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}
.submite button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transform: scale(1.1);
}
